@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Example Frontend</h1>
    
    <a asp-page="/Blogs/Index">Show all Blogs</a>
    
</div>
